<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.macca.smartlocker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartLocker"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, android:usesCleartextTraffic">
        <activity android:name=".ForceOpenLockerActivity"></activity>
        <activity android:name=".Payments.PaymentActivity" />
        <activity android:name=".SettingLockerActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver android:name=".Util.BroadcastReceiver" />
        <receiver android:name=".Util.AlarmNotification">
            <intent-filter>
                <action android:name="com.macca.smarlocker" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Util.ForcedOpenAlarm">
            <intent-filter>
                <action android:name="com.macca.smartlocker" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>